<section class="footer">

  <footer>
           <div>
              <ul id="list">
                <li><a routerLink="/terms" class="text-white" >T&C</a></li>&nbsp;
                <li><a routerLink="/privacy" class="text-white">Privacy Policy</a></li>&nbsp;
                <li><a  routerLink="/contact" class="text-white">Contact Us</a></li>&nbsp;
              </ul>
            </div>

          <div class="row">
            
            <div>
              <br>
               <span class="text-white"> © 2020 Copyright:</span>
              <a class="text-white" href="">BookMyBus.com</a>
            </div>

          </div>   
</footer>