<footer class=" text-center text-white" style="background-color: rgb(53, 51, 51);">
    <!-- Grid container -->
    <div class="container-fluid p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img id="image"
                src="https://th.bing.com/th/id/OIP.frSq_8-SuG5IjaO4gCLQjQHaFG?w=230&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgb(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img id="image"
                src="https://th.bing.com/th/id/OIP.2Lp1kVC76uAeawThJ892LAHaEK?w=329&h=185&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img id="image"
                src="https://th.bing.com/th/id/OIP.71zlOr_p9KqQyNnPHX2m1QHaE8?w=266&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img id="image"
                src="https://th.bing.com/th/id/OIP.Kkkv4lzh52hNVetwDbqRhwHaFj?w=219&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img id="image"
                src="https://th.bing.com/th/id/OIP.s_z-tmksLbDRYaTxb1HOFgHaE8?w=245&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
              class="bg-image hover-overlay ripple shadow-1-strong rounded"
              data-ripple-color="light"
            >
              <img id="image"
                src="https://th.bing.com/th/id/OIP.4qqfxPBDjz37A823MLEVTgHaEC?w=317&h=180&c=7&r=0&o=5&dpr=1.25&pid=1.7"
                class="w-100"
              />
              <a href="#!">
                <div
                  class="mask"
                  style="background-color: rgba(251, 251, 251, 0.2);"
                ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: black;">
      ©2022 All Rights Reserved:
      <a class="text-white" href="https://mdbootstrap.com/">BookMyBus.com</a>
    </div>
    <!-- Copyright -->
  </footer>