<div class="table table-borderless table-dark" width="2000px">
  <br>
  <footer class="footer" >
      <div class="container bottom_border">
           
        
            <ul id="list">
             <li><a href="#" routerLink="terms" class="text-white" >T&C</a></li>&nbsp;
             <li><a href="#" routerLink="privacy" class="text-white">Privacy Policy</a></li>&nbsp;
             <li><a href="#" routerLink="faqs" class="text-white">FAQs</a></li>&nbsp;
            </ul>
         
            <br>
            
            <div class="text-center p-3">
              © 2022 Copyright:
              <a class="text-white" href="https://mdbootstrap.com/">BookMyBus.com</a>
            </div>
         </div>

    </footer>
</div>