<section style="margin-top: -5%;" class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img style="height:500px; width: 600px; border-radius: 50%;" src="https://img.freepik.com/free-vector/realistic-touristic-bus-illustration_98292-124.jpg?1&t=st=1657788809~exp=1657789409~hmac=168930deed616c4a812dd2f999f1dca87d05dc807503d21e6184ba0b3a731ae9&w=740"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        
          <h1 class="text-center">Booking</h1>
          
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" ngNativeValidate>
                <div class="form-group">
                  <label for="name">Passenger Name</label>
                  <input type="text" class="form-control" id="passengerName" required [(ngModel)]="booking.passengerName" name="passengerName">
                </div>
             
                <div class="form-group">
                    <label for="name">Number of Seats</label>
                    <input type="text" class="form-control" id="numberOfseats" required [(ngModel)]="booking.numberOfseats" name="numberOfseats">
                  </div>
             
                  <div class="form-group">
                    <label for="name">Phone no</label>
                    <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="booking.phoneNumber" name="phoneNumber">
                  </div>
            
                  <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" class="form-control" id="email" required [(ngModel)]="booking.email" name="email">
                  </div>
             <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
                
              </form>  
        
      </div>
    </div>
  </div>
  </div>
</section>