

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"  aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/bus 1.jpg" height="400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/plane1.jfif" height="400" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/images/plane2.jfif" height="400" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>


<br><br>
<h3>We are about bus travel</h3>
<p>
  BookMyBus is the best platform in the world for booking bus tickets online. BookMyBus is serving more than 10 cities across India. (Mumbai, Pune, Bangalore, Hyderabad, Delhi, Kolkata, Jaipur, Chennai, Ahmdebad, Chandigarh.), and would be launching bus ticket booking services in more cities. Trusted by over 2 million customers nationwide, BookMyBus offers an easy, fast, and secure platform for booking cheap bus tickets. You only need to select your origin, destination, and date of departure, and you will find plenty of buses to travel by within a few seconds. You can book your bus based on your preferred schedule, choose a pick-up and dropping point, preferred bus type, and book a bus ticket online with just a few clicks!
</p>
<p>
  redBus operates on several routes and has on-boarded over 500 bus operators. In addition to bus tickets booking for popular tourist destinations, one can also book cheap bus tickets to the remote and less popular places in India through BookMyBus. BookMyBus has sold over 20 million tickets globally through its website, ensuring a hassle-free and a memorable experience for booking bus tickets online.
</p>
<p>
    With a rich history of conquering the skies, the airline has always been a prestigiousname in the aviation world. Air India is also a member of the largest global airconsortium, Star Alliance, since July, 2014. Air India has extended itself tointernational flights, forming a network in places like Europe, the USA, the UK, theGulf, Far-East and Southeast Asia, and Australia. On the domestic front, the airlinereaches far-off areas such as the Andaman and Nicobar Islands, the Northeastregion, and Ladakh. Air India has always stood by the Nation and its people in itshour of need. The airline has been on several rescue and evacuation missions duringcrises like the Gulf War, the Pandemic, and the Ukraine crisis and has been pivotal inensuring the safety and security of the people of the country.
</p>
<p>
    After 68 years, on 27 th January, 2022, Air India has been welcomed back to the TataCompany from its Government ownership, completing a full circle back to its roots.With the onset of the new era, Air India is now redefining the airline’s goals andensuring it rises to the wealth of new opportunities created by the transformation.With a relentless focus on being the best and having customers at the centre of allprocesses, Air India is committed to improving its existing capabilities and buildingscope for more capabilities, more competitive edge, and ultimately more growth.The evolution of Air India is now all about the next step, the zealous efforts to bethe best not just in our own country, but on a global scale.
</p>
<p>
    With a golden age and a proud history behind us, we have been flying as the Wingsof the Nation. We will always cherish where we come from and let it steer our pridein always putting the nation and its people at the helm of our journey. Our nextchapter with the Wings of Change is ready to commence into a bright future ahead.
</p>

<h3>About the Tata group</h3>
<p>
    Founded by Jamsetji Tata in 1868, the Tata group is a global enterprise,headquartered in India, comprising 30 companies across ten verticals. The groupoperates in more than 100 countries across six continents, with a mission 'Toimprove the quality of life of the communities we serve globally, through long-termstakeholder value creation based on Leadership with Trust’.
</p>
<p>
    Tata Sons is the principal investment holding company and promoter of Tatacompanies. Sixty-six percent of the equity share capital of Tata Sons is held byphilanthropic trusts, which support education, health, livelihood generation, and artand culture.
</p>
<p>
    In 2020-21, the revenue of Tata companies, taken together, was $103 billion (INR7.7 trillion). These companies collectively employ over 800,000 people. Each Tatacompany or enterprise operates independently under the guidance and supervisionof its own board of directors. There are 29 publicly-listed Tata enterprises with acombined market capitalisation of $314 billion (INR 23.4 trillion) as on December 31,2021. Companies include Tata Consultancy Services, Tata Motors, Tata Steel, TataChemicals, Tata Consumer Products, Titan, Tata Capital, Tata Power, TataCommunications, Indian Hotels, Tata Digital and Tata Electronics.
</p>
