<div id="cancel">
  <div class="card mb-8" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="https://cdn.dribbble.com/users/2424687/screenshots/6628571/free_cancellation-01_4x.png?compress=1&resize=1000x750&vertical=top" class="card-img" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Cancel Booking</h2>
          <div [hidden]="submitted" style="width: 400px;">
            <form (ngSubmit)="onSubmit()" ngNativeValidate>
              
      
              <div class="form-group">
                  <label for="name">Booking Id</label>
                  <input type="text" class="form-control" id="id" required [(ngModel)]="bookings.id" name="id">
              </div>
           
              
      
              <br>
              <button type="submit" class="btn btn-primary">Cancel</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>