<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
  
        <div class="col-md-8 col-lg-7 col-xl-6" style="margin-top: -250px;">
          <img style="width: 3000px; height: 700px " src="https://static.vecteezy.com/system/resources/previews/001/879/587/non_2x/fill-in-choices-in-an-exam-or-survey-make-the-right-choice-to-get-business-solutions-and-feedback-illustration-concept-for-landing-page-web-ui-banner-flyer-poster-template-background-free-vector.jpg"
            class="img-fluid" alt="Phone image">
        </div>
  
  <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1  card card-body mt-3" id="card">
  <table class="table table-borderless" id="borders">
      <thead class="thead-primary">
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Email</th>
          <th scope="col">Feedback</th>
         
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of showallfeedback|async;let i=index">
         
          <td scope="row">{{i+1}}</td>
          <td>{{ u.email}}</td>
          <td>{{ u.comments }}</td>
          
         
          </tr>
          </tbody>
          </table>
          </div>
          </div>
  
        </div>
     
    
  </section>