<div class="col-md-9 offset-md-2 card card-body mt-3" id="back">
    <table class="table table-bordered table-hover table-striped">
        <thead style="background:darkgrey" >
            <td>Booking Id</td>
            <td>Name of Passenger</td>
            <td>Source</td>
            <td>Destination</td>
            <td>Travel Date</td>
            <td>Departure Time</td>
            <td>Bus Type</td>
            <td>Total Seats</td>
            <td>Total Fare</td>
            
        </thead>
        
        <tbody>
            <tr *ngFor="let book of bookinglist|async" >
                
                    <td>{{ book.id}}</td>
                    <td>{{ book.passengerName}}</td>
                    
                    <td>{{ book.arrivalLocation}}</td>
                    <td>{{ book.departureLocation}}</td>
                    <td>{{ book.dateOfBooking}}</td>
                    <td>{{ book.departureTime}}</td>
                    <td>{{ book.busType}}</td>
                    <td>{{ book.numberOfseats}}</td>
                    <td>{{ book.totalCost}}</td>
                    
                
                
            </tr>
        </tbody>

    </table>
</div>