<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-8">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="/assets/images/Seat1.jpg"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"  style="height:680px;width:700px" />
            </div>
            <div class="col-xl-4" style="margin-left:750px;margin-top:-650px;">
              <div class="card-body p-md-5 text-black" >
               
                  <div class="cockpit">
                    <h5  class="text-center h1 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;" >SELECT SEATS</h5>
                  </div>
                  <ol  class="cabin d-flex flex-wrap">
                        <li class="seat"  style="min-width: 80px;" *ngFor="let st of seats" >
                         <label [ngStyle]="{'background-color': color(st) }">
                            <input type="checkbox" name="seat"   (click)="pushCheckBoxValue(st)" />
                          {{st}}
                        </label>
                          <p *ngIf="st%2==0 && st%4!=0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                        </li>
                      </ol>
                      <a>
                      </a>
                      <li class="list list-unstyled">
                          <input type="submit" (click)="onSubmit()" class="btn btn-sm btn-primary" value="Book-Ticket"/>
                    </li>
                    
                  
                
                 
            
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>