
    <table class="table table-bordered table-hover table-striped">
        <thead style="background:darkgrey">
            <td>Bus Id</td>
            <td>Bus Type</td>
            <td>Source</td>
            <td>Destination</td>
            <td>Departure Time</td>
            <td>Arrival Time</td>
            <td>Fare</td>
            <td>Action</td>
        </thead>
        <tbody>
            <tr  *ngFor="let b of buses | async" scope="row">
                <td>{{ b.id}}</td>
                <td>{{ b.busType }}</td>
                <td>{{ b.departureLocation }}</td>
                <td>{{ b.arrivalLocation }}</td>
                <td>{{ b.departureTime }}</td>
                <td>{{ b.arrivalTime }}</td>
                <td>{{ b.price}}</td>
                <td>
                    <button (click)="busDetails(b.id)" class="btn btn-info" style="margin-left: 10px">Details</button>  

                <button (click)="editBus(b.id)" class="btn btn-secondary" style="margin-left: 10px">Update</button>

                <button (click)="deleteBus(b.id)" class="btn btn-danger" style="margin-left: 30px">Delete</button>

                </td>
            </tr>
        </tbody>
    </table>
