
#borders{
   
    margin-top: 2%;
     width: 72%;
     margin-left: 20%;
    
      
  
  }
  thead{
    background-color: rgb(74, 182, 182);
      color: whitesmoke;
      border-radius: 10px;
  }

 