
  <section class="vh-100" style="background-color: rgb(210, 237, 240);">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        
              
        
          
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">User Login</p>
          <div class="card bg-light">
            <div class="card-body">
              <form class="form-group" ngNativeValidate>
                <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
                <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
                <div class="form-group">
                  <i class="fa fa-envelope fa-lg me-2 fa-fw"></i><label for="email">User Email</label>
                  <input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="Enter registered email"
                    name="username" required>
                </div>
                <div class="form-group">
                  <i class="fa fa-lock fa-lg me-3 fa-fw"></i><label for="pwd">Password</label>
                  <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
                    name="password" required>
                </div>
                <br>
                <button (click)=checkLogin() class="btn btn-primary">Login</button><br>
              </form>
              
            </div>
            <a class="btn btn-primary" href="register" role="button">New Registration</a>
          </div>
        </div>
      </div>
    </div>
  
   
  
</section>




