<p>The Pofits for BookMyBus till date in Rupees is {{this.total}}</p>

<div id="feed">
    <div class="card mb-8" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="https://img.freepik.com/free-vector/sales-growth-commerce-analytics-profit-analysis-business-analyst-marketing-plan-marketologist-holding-clipboard-cartoon-character-vector-isolated-concept-metaphor-illustration_335657-2756.jpg?w=2000" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
                <h1  class="text-center h1 fw-bold mb-15 text-light">REVENUE GENERATED</h1>
                <div class="card-body">
                  <h5 class="card-title">The Pofits for BookMyBus till date in Rupees is {{this.total}}</h5>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    