
<h5  class="text-center h1 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif; background-image: linear-gradient(to left, rgba(49, 165, 176, 0), rgb(198, 233, 231));" >REVENUE DASHBOARD</h5>
<BR>
<div id="feed">
    <div class="card mb-8 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 900px">
      <div class="row no-gutters">
        <div class="col-md-6">
          <img src="https://img.freepik.com/free-vector/sales-growth-commerce-analytics-profit-analysis-business-analyst-marketing-plan-marketologist-holding-clipboard-cartoon-character-vector-isolated-concept-metaphor-illustration_335657-2756.jpg?w=2000" class="card-img" alt="...">
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3" style="margin-top: 150px; margin-right: 50px; padding-right: 20px; padding-left: 30px;">
                <h3  class="text-center h1 fw-bold mb-10 text-light">REVENUE GENERATED</h3>
                <div class="card-body" >
                  <h5 class="card-title">The Pofits for BookMyBus till date in Rupees is {{this.total}}.</h5>
                  
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    