<nav class="navbar navbar-expand-md  navbar-dark bg-light" >
  <!-- Links -->
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/images/BookMyBus.png" height="50" width="60">
</a>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a *ngIf="!loginService.isAdminLoggedIn()" routerLink="/" class="clickme info" routerLinkActive="active">Home</a>
      </li>

      <li class="nav-item">
        <a *ngIf="!loginService.isAdminLoggedIn()" routerLink="about" class="clickme info" routerLinkActive="active">About Us</a>
      </li>

      
    </ul>
   
  


    <ul class="navbar-nav ms-auto">

      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="register" class="clickme info" routerLinkActive="active">Register</a>
      </li>

      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn()  && !loginService.isAdminLoggedIn()" routerLink="login" class="clickme info" routerLinkActive="active">User Login</a>
      </li>

      <li class="nav-item">
        <a *ngIf="!loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="booknew" class="clickme info" routerLinkActive="active">New Booking</a>
      </li>

      <li class="nav-item">
        <a  *ngIf="!loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="cancel" class="clickme info" routerLinkActive="active">Cancel booking</a>
      </li>


  
      <li class="nav-item">
        <a *ngIf="!loginService.isAdminLoggedIn() && !loginService.isUserLoggedIn()" routerLink="adminlogin" class="clickme info" routerLinkActive="active">Admin Login</a>
      </li>

      
     
  
      

      
      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="/triphistory" class="clickme info" routerLinkActive="active">Trip History</a>
      </li>

      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="/cancelbooking" class="clickme info" routerLinkActive="active">Cancel Booking</a>
      </li>

      

      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="/feedbacks" class="clickme info" routerLinkActive="active">Feedback</a>
      </li>

      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="/profile" class="clickme info" routerLinkActive="active">My Profile</a>
      </li>
   
     <li class="nav-item">
        <a *ngIf="loginService.isAdminLoggedIn() && !loginService.isUserLoggedIn()" routerLink="/welcomeadmin" class="clickme info" routerLinkActive="active">Admin Dashboard</a>
      </li>

      <li class="nav-item">
        <a *ngIf="loginService.isUserLoggedIn() || loginService.isAdminLoggedIn()" routerLink="logout" class="clickme info" routerLinkActive="active">Logout</a>
      </li>      
    </ul>
  </nav>