.ft {
    /*position: absolute;*/
    bottom: 0;
    width:100%;
    height: 40px;
    background-color: #222222;
    text-align: center;
}
.jumbotron {
    display: table-cell;
    vertical-align: middle;
 }
 .info {
    /*color: #FFFFFF;*/
    color: white;
}
.info:hover {
    background-color: white;
    color: black;
}
.clickme {
   
    padding: 8px 20px;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    
}
h2{
    border: 5px solid brown;
    border-radius: 50px 20px;
    padding: 10px;
}
