<table class="table table-borderless" id="borders">
    <thead class="thead-primary">
        <th scope="col">Booking Id</th>
        <th scope="col">Email</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Passenger Name</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Bus Type</th>
        <th scope="col">Fare</th>
        
    </thead>
    <tbody>
        <tr *ngFor="let book of bookinglist|async">
            <th scope="col">{{ book.id}}</th>
            <td>{{book.email}}</td>
            <td>{{ book.dateOfBooking}}</td>
            <td>{{ book.passengerName}}</td>
            <td>{{ book.departureLocation}}</td>
            <td>{{ book.arrivalLocation}}</td>
            <td>{{ book.busType}}</td>
            <td>{{ book.totalCost}}</td>
            
        </tr>
    </tbody>
</table>