<div class="card mb-3" style="max-width: 2000px;">
    <div class="row g-0">
      <div class="col-md-6">
        <img src="https://img.freepik.com/premium-vector/terms-conditions-concept-illustration_108061-451.jpg?w=2000" class="img-fluid rounded-start" alt="..." style="height:580px;width:800px">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Terms and Conditions</h5>
          <p class="card-text"> * The arrival and departure times mentioned on the ticket are only tentative timings. However, the bus will not leave the source before the mentioned time on the ticket. Passengers are required to furnish the following documents at the time of boarding the bus:<br>

            <br>* A copy of the ticket (a print out of the ticket or the print out of the ticket e-mail)Any Identity proof (Driving license, Student ID card, Company ID card, Passport, PAN card, Aadhar card or Voter ID card).
             Failing to do so, they MAY not be allowed to board the bus.<br>
             
             <br>*Change of bus: In case the bus operator changes the type of bus due to some reason, RailYatri will refund the differential amount to the customer if the operator is willing to pay the same, upon being intimated by the customer within 24 hours of the journey.<br>
             
             <br>*Amenities: Amenities for buses, as shown on RailYatri, have been configured and provided by the bus operator. These amenities will be provided unless there are some exceptions on certain days.<br>
             
             <br>*Luggage: Bus Operator may charge extra money for luggage.<br>
             
            <br> *Change in Booking Details: After a ticket is generated, no amendments can be made by RailYatri i.e Mobile number, Boarding point or email address can't be changed. We advise the customer to reach out to the respective Operator directly.<br>
         
          
        </div>
      </div>
    </div>
  </div>