<h5  class="text-center h1 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;" >USER PROFILE</h5>
<div class="page-content page-container" style="background-image: linear-gradient(to right, rgba(49, 165, 176, 0), rgb(198, 233, 231));"id="page-content" class="shadow-lg p-3 mb-5 bg-white rounded">
  <div class="padding">
      <div class="row container d-flex justify-content-center" >
<div class="col-xl-6 col-md-12">
                                              <div class="card user-card-full" >
                                                  <div class="row m-l-0 m-r-0">
                                                      <div class="col-sm-4 bg-c-lite-green user-profile">
                                                          <div class="card-block text-center text-white">
                                                              <div class="m-b-25">
                                                                  <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                                              </div>
                                                              <h3 class="f-w-600"> {{userprof.name}}</h3>
                                                             
                                                              <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                          </div>
                                                      </div>
                                                      <div class="col-sm-8">
                                                          <div class="card-block">
                                                            <div>
                                                              <label><b>User Id: </b></label> {{userprof.id}}
                                                              <hr>
                                                            </div>
                                                              <div class="row">
                                                                  <div class="col-sm-12">
                                                                    <div>
                                                                      <label><b>Name: </b></label> {{userprof.name}}
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-sm-12">
                                                                    <div>
                                                                      <label><b>Email: </b></label> {{userprof.email}}
                                                                    </div>
                                                                    <hr>
                                                                  </div>                                                           
                                                              </div>
                                                             
                                                              <div class="row">
                                                                  <div class="col-sm-12">
                                                                    <div>
                                                                      <label><b>Phone NO: </b></label> {{userprof.phoneNo}}
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-sm-12">
                                                                    <div>
                                                                      <label><b>Date of Birth: </b></label> {{userprof.dob}}
                                                                    </div>  
                                                                  </div>
                                                              </div>
                                                              <br>
                                                              <button (click)="list()" class="btn btn-primary">Edit profile</button><br>
                                                          </div>
                                                         
                                                      </div>
                                                     
                                                  </div>
                                              </div>
                                          </div>
                                           </div>
                                              </div>
                                          </div>