



<div class="card mb-3" style="width: 18rem;">
  <img class="card-img-top" src="https://img.freepik.com/free-vector/bus-driver-concept-illustration_114360-6330.jpg?w=2000" class="card-img-top" alt="...">
  <div class="card-body" *ngIf="bus">
    <h5 class="card-title">Bus Details</h5>
    <p class="card-text">This bus departs from "{{bus.departureLocation}}" on {{bus.date}} and arrives at  "{{bus.arrivalLocation}}".</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Bus ID: {{bus.id}}</li>
    <li class="list-group-item">Bus No: {{bus.busNo}}</li>
    <li class="list-group-item">Departure Time: {{bus.departureTime}}</li>
    <li class="list-group-item">Arrival Time: {{bus.arrivalTime}}</li>
    <li class="list-group-item">Bus Type: {{bus.busType}}</li>
    <li class="list-group-item">Fare: {{bus.price}}</li>
    <li class="list-group-item">Seats Available: {{bus.seatsAvailable}}</li>
    <li class="list-group-item">Driver Contact:  {{bus.driverContact}}</li>
  </ul>
  <div class="card-body">
    <a routerLink="/showbuses" class="card-link">Back to bus list</a>
    
  </div>
</div>






