<table class="table table-borderless" id="borders">
    <thead class="thead-primary">
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Booking Id</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Passenger Name</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Bus Type</th>
        <th scope="col">Fare</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookinglist|async;let i=index">
       
                <td >{{i+1}}</td>
                <td>{{ book.id}}</td>
                <td>{{ book.dateOfBooking}}</td>
                <td>{{ book.passengerName}}</td>
                <td>{{ book.departureLocation}}</td>
                <td>{{ book.arrivalLocation}}</td>
                <td>{{ book.busType}}</td>
                <td>{{ book.totalCost}}</td>
     
    </tbody>
  </table>