<h5  class="text-center h1 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif; background-image: linear-gradient(to left, rgba(49, 165, 176, 0), rgb(198, 233, 231));" >BOOKINGS DASHBOARD</h5>
<table class="table table-borderless" id="borders" class="shadow-lg p-3 mb-5 bg-white rounded" style="background-image: linear-gradient(to left, rgba(49, 165, 176, 0), rgb(198, 233, 231));">
    <thead class="thead-primary">
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Booking Id</th>
        <th scope="col">Booking Date</th>
        <th scope="col">Passenger Name</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Bus Type</th>
        <th scope="col">Fare</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookinglist|async;let i=index">
       
                <td >{{i+1}}</td>
                <td>{{ book.id}}</td>
                <td>{{ book.dateOfBooking}}</td>
                <td>{{ book.passengerName}}</td>
                <td>{{ book.departureLocation}}</td>
                <td>{{ book.arrivalLocation}}</td>
                <td>{{ book.busType}}</td>
                <td>{{ book.totalCost}}</td>
     
    </tbody>
  </table>