<div class="col-md-8 col-lg-7 col-xl-6">
  <img  src="https://cdni.iconscout.com/illustration/premium/thumb/secured-payment-2245534-1889494.png"
    class="img-fluid" alt="Phone image">
</div>
<div id="pay">
<div class="container p-0"  style="text-align: 2000;">
  <div class="card px-4">
      <p class="h8 py-3">Payment Details</p>
      <div [hidden]="submitted" >
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="row gx-3" >
          <div class="col-12">
              <div class="d-flex flex-column">
                <label for="name" class="text mb-1">Name on card</label>
                <input type="text" class="form-control" id="nameOnCard" required [(ngModel)]="book.nameOnCard" name="nameOnCard">
              </div>
          </div>
          <div class="col-12">
              <div class="d-flex flex-column">
                <label for="name" class="text mb-1">Credit Card</label>
                <input type="text" class="form-control" id="creditDebitCard" required [(ngModel)]="book.creditDebitCard" name="creditDebitCard">
              </div>
          </div>
          <div class="col-6">
              <div class="d-flex flex-column">
                <label for="name" class="text mb-1">Exp Month</label>
                <input type="text" class="form-control" id="expMonth" required [(ngModel)]="book.expMonth" name="expMonth">
              </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <label for="name" class="text mb-1">Exp Year</label>
              <input type="text" class="form-control" id="expYear" required [(ngModel)]="book.expYear" name="expYear">
            </div>
        </div>
          <div class="col-12">
              <div class="d-flex flex-column">
                <label for="name" class="text mb-1">cvv</label>
                <input type="text" class="form-control" id="cvv" required [(ngModel)]="book.cvv" name="cvv">
              </div>
          </div>
          <div class="col-12">
              <div class="d-flex flex-column">
                <label for="totalamount" class="text mb-1">Total Amount</label>
                <input type="text" readonly class="form-control" id="totalamount" required [(ngModel)]="totalamount" name="totalamount">
              </div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>

  </div>
</div>
</div>