<div class="card" style="background-color:powderblue;">
    <div class="page-header"><div class="container"><h1 class="text-center h1 fw-bold mb-15">PRIVACY POLICY</h1></div></div>
    
    <div class="row card-body">
        <div class="col-6">
            <img style="width:250px" src="https://img.freepik.com/premium-vector/privacy-policy-concept-protecting-your-privacy-vector-illustration-flat_186332-1061.jpg"  class="d-block w-100" alt="..." >
        </div>
    <div class="col-6">
    <p id="para">
    This Privacy Policy describes the policies and procedures of Le Travenues Technology Limited (“BookMyBus”) on the collection, use and disclosure of your information when you use the BookMyBus Service, via the BookMyBus website, your mobile phone, or through one of ixigo’s applications for mobile devices 
    (including but not limited to iOS/Android applications). We will not use or share your information with anyone except as described in this Privacy Policy. This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources. Capitalized terms that 
    are not defined in this Privacy Policy have the meaning given them in our Terms of Service.The terms “we”, “us”, and “our website” refer to www.ixigo.com and the terms “you” and “your” refer to you, as a user of ixigo.com. The term “personal information” means information that you provide to us which personally identifies you to be
     contacted or identified, such as your name, phone number, email address, and any other data that is tied to such information.
    USERS OUTSIDE THE GEOGRAPHICAL LIMITS OF INDIAP
    lease note that the data shared with us shall be primarily processed in India and such other jurisdictions where a third party engaged by us may process the data on our behalf. By agreeing to this policy, you are providing us with your explicit consent to process your personal information for the purpose(s) defined in this policy. The personal data protection regulations in India may differ from those of your country of residence.
    If you have any concerns related to the processing your data and wish to withdraw your consent, you may do so by writing to us at info@ixigo.com. However, if such processing of data is essential for us to be able to provide service to you, then we may not be able to serve or confirm your bookings after your withdrawal of consent. 
    </p>
    </div>
    
    
    
    </div>
    </div>