<div class="col-md-9 offset-md-2 card card-body mt-3">
    <table class="table table-bordered table-hover table-striped">
        <thead style="background:darkgrey">
            <td>Bus Number</td>
            <td>Bus Type</td>
            <td>Arrival Location</td>
            <td>Arrival Time</td>
            <td>Departure Time</td>
            <td>Driver Contact</td>
            <td>Fare</td>
            <td>Seats Available</td>
            <td>Action</td>
            
        </thead>
        <tbody>
            <tr *ngFor="let b of buses | async">

                <td>{{b.busNo}}</td>
                <td>{{b.busType}}</td>
                <td>{{b.arrivalLocation}}</td>
                <td>{{b.arrivalTime}}</td>
                <td>{{b.departureTime}}</td>
                <td>{{b.driverContact}}</td>
                <td>{{b.price}}</td>
                <td>{{b.seatsAvailable}}</td>
                <td>
                <button (click)="bookBus(b.id)" class="btn btn-info" style="margin-left: 10px">Book</button>
                 </td>
            </tr>
        </tbody>
    </table>
</div>
