#borders{
    margin-left: 15%;
   
    margin-top: 2%;
     width: 70%;
     border-radius: 100px;
      
  
  }
  thead{
      background-color: rgb(5, 74, 74);
      color: whitesmoke;
      border-radius: 10px;
  }
 button
  {
    background-color: rgb(5, 74, 74);
    color: whitesmoke;
  }

  #color {
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/483/028/original/gradient-colorful-abstract-background-free-vector.jpg');
  }