
<h5  class="text-center h1 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif; background-image: linear-gradient(to left, rgba(49, 165, 176, 0), rgb(198, 233, 231)); " >AVAILABLE BUSES</h5>
<table class="table table-borderless" id="borders">
    <thead class="thead-primary">
        <tr>
        <th scope="col">Bus Number</th>
        <th scope="col">Bus Type</th>
        <th scope="col">Arrival Location</th>
        <th scope="col">Arrival Time</th>
        <th scope="col">Departure Time</th>
        <th scope="col">Driver Contact</th>
        <th scope="col">Fare</th>
        <th scope="col">Seats Available</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of buses | async">

            <th  scope="row">{{b.busNo}}</th>
            <td>{{b.busType}}</td>
            <td>{{b.arrivalLocation}}</td>
            <td>{{b.arrivalTime}}</td>
            <td>{{b.departureTime}}</td>
            <td>{{b.driverContact}}</td>
            <td>{{b.price}}</td>
            <td>{{b.seatsAvailable}}</td>
            <td>
            <button (click)="bookBus(b.id)"   style="margin-left: 10px">Book</button>
             </td>
        </tr>
    </tbody>
</table>