#search
{
   margin-top:140px;
   margin-left: 181px;
}

#grad {
   background-image: url('https://static.vecteezy.com/system/resources/previews/001/483/028/original/gradient-colorful-abstract-background-free-vector.jpg');
   height:650px;
   margin-top:-40px;
   margin-bottom: -40px;
   margin-left:-20px;
   margin-right:-20px;
   
 }
 img{
   border-radius: 300px;
 }
 #font
 {
  text-align: center;
  margin:0 auto;
  font-family:  Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
 }