<div class="row" id="grad">
    <h1 *ngIf="loginService.isUserLoggedIn()" id="font">Welcome {{userprof.name}}!</h1>
    
    <div class="col-6">
       
       <img src="https://img.freepik.com/premium-vector/city-bus-with-passengers-medical-masks-against-background-abstract-cityscape-vector-illustration_357257-824.jpg?w=2000" width="900px" height="500px"  style="margin-top:80px;margin-left:10px;" alt="">
   </div>
   <div class="col-4"  id="search">
    <h5  class="text-center h1 fw-bold mb-15 text-light" style="font-family: Georgia, 'Times New Roman', Times, serif;" >SEARCH FOR BUSES</h5>
           <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            
  
               <div class="form-group">
                <i class="fa fa-map-marker fa-lg me-3 fa-fw"></i><label class="text-light">Source</label>
                 <select class="custom-select d-block w-100" class="form-select" formControlName="departureLocation" [ngClass]="{ 'is-invalid': submitted && f.departureLocation.errors }">
                     <option value="">Select departure location</option>
                     <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
                  </select>
                 <div *ngIf="submitted && f.departureLocation.errors" class="invalid-feedback">
                     <div *ngIf="f.departureLocation.errors.required">Source is required</div>
                 </div>
             </div>
  
             <div class="form-group">
                <i class="fa fa-car fa-lg me-3 fa-fw"></i><label class="text-light">Destination</label>
                 <select class="custom-select d-block w-100" class="form-select" formControlName="arrivalLocation" [ngClass]="{ 'is-invalid': submitted && f.arrivalLocation.errors }">
                     <option value="">Select arrival Location</option>
                     <option *ngFor="let city of City" [ngValue]="city">{{city}}</option>
                  </select>
                 <div *ngIf="submitted && f.arrivalLocation.errors" class="invalid-feedback">
                     <div *ngIf="f.arrivalLocation.errors.required">Destination is required</div>
                 </div>
             </div>
  
               <div class="form-group">
                <i class="fa fa-calendar fa-lg me-3 fa-fw"></i><label class="text-light">Date Of Departure</label>
                   <input type="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                   <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                       <div *ngIf="f.date.errors.required">Date is required</div>
                   </div>
               </div>
  
               <br>
               <div class="form-group">
                   <button class="btn btn-dark">Search</button>
               </div>
           </form>
      
   </div>
  
  </div>