<h5  class="text-center h1 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif; background-image: linear-gradient(to left, rgba(49, 165, 176, 0), rgb(198, 233, 231));" >INACTIVE USER DASHBOARD</h5>
<table class="table table-borderless shadow-lg p-3 mb-5 bg-white rounded" id="borders" style="background-image: linear-gradient(to left, rgba(49, 165, 176, 0), rgb(198, 233, 231));">
    <thead class="thead-primary">
        <th scope="col">User Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
    </thead>
    <tbody>
        <tr *ngFor="let u of user | async">
            <th scope="col">{{ u.id }}</th>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
        </tr>
    </tbody>
</table>