<div class="col-md-8 col-lg-7 col-xl-6">
  <img src="https://img.freepik.com/free-vector/bus-travel-card-users-illustration_335657-337.jpg?t=st=1657619547~exp=1657620147~hmac=67469969a6036a50deac230e783e21172fbba5d6e2b093958fc0cd2b244023d4&w=996"
    class="img-fluid" alt="Phone image" style="padding-right: 50px;">
</div>
<div id="pay">
<div class="container p-0; "  style="text-align: 2000; ">
  <div class="card px-4; shadow-lg p-3 mb-5 bg-white rounded" style="margin-left: 400px;">
    <h5  class="text-center h3 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;" >BOOKING DETAILS</h5>
    <br>  
    <div [hidden]="submitted" >
      <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="row gx-3" >
          <div class="col-12">
              <div class="d-flex flex-column">
                <label for="name" class="text mb-1">Passenger Name</label>
                <input type="text" class="form-control" id="passengerName" required [(ngModel)]="booking.passengerName" name="passengerName">
              </div>
          </div>
          
          <div class="col-6">
              <div class="d-flex flex-column">
                <label for="name" class="text mb-1">Phone no.</label>
                <input type="text" class="form-control" id="phoneNumber" required [(ngModel)]="booking.phoneNumber" name="phoneNumber">
              </div>
          </div>
          <div class="col-6">
            <div class="d-flex flex-column">
              <label for="name" class="text mb-1">Number of Seats</label>
              <input type="text" class="form-control" id="numberOfseats" required [(ngModel)]="booking.numberOfseats" name="numberOfseats">
            </div>
        </div>
          
          
        </div>
        <br>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
    </div>

  </div>
</div>
</div>        
        
        
        
        
        
        
        
        
        
        
        
        
        
       