<section class="vh-100" style=" background-image: url('https://static.vecteezy.com/system/resources/previews/001/483/028/original/gradient-colorful-abstract-background-free-vector.jpg');">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <h5  class="text-center h1 fw-bold mb-15 text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;" >REGISTER</h5>
                <br>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

       


        
                  <div class="form-group">
                    <i class="fa fa-envelope fa-lg me-3 fa-fw"></i><label for="email">Email</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Enter your Email ID" [(ngModel)]="userdetails.email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
          
          
          
                <div class="form-group">
                  <i class="fa fa-user fa-lg me-3 fa-fw"></i><label for="name">Name</label>
                  <input type="text" formControlName="name" class="form-control" placeholder="Enter your name" [(ngModel)]="userdetails.name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                    <div *ngIf="f.name.errors.pattern">Inavalid Name</div>
                </div>
                  
              </div>
          
          
              <div class="form-group">
                <i class="fa fa-lock fa-lg me-3 fa-fw"></i><label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" placeholder="Enter valid password" [(ngModel)]="userdetails.password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
                
            </div>
          
          
            <div class="form-group">
              <i class="fa fa-calendar fa-lg me-3 fa-fw"></i><label for="dob">Date of Birth</label>
              <input type="date" formControlName="dob" class="form-control" placeholder="Enter your DOB" [(ngModel)]="userdetails.dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
              <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                  <div *ngIf="f.dob.errors.required"> Date of Birth is required</div>
              </div>
          </div>
          
          
                    
          <div class="form-group">
            <i class="fa fa-phone fa-lg me-3 fa-fw"></i><label for="phoneNo">phoneNo</label>
            <input type="text" formControlName="phoneNo" class="form-control" placeholder="Enter 10-digit Phone Number" [(ngModel)]="userdetails.phoneNo" [ngClass]="{ 'is-invalid': submitted && f.phoneNo.errors }" />
            <div *ngIf="submitted && f.phoneNo.errors" class="invalid-feedback">
                <div *ngIf="f.dob.errors.required">  phoneNo is required</div>
            </div>
          </div>
          <br>

          <div class="form-check d-flex justify-content-center mb-5">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
            <label class="form-check-label" for="form2Example3">
              I agree to all statements in <a href="/terms">Terms & Conditions</a>
            </label>
          </div>
                
              
                  <button type="submit" class="btn btn-primary">Register</button>
                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

















